#wrap {
    width: 440px;
    height: 956px;
    background-image: url(../images/main.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    margin: 0 auto;
    text-align: center;
}
.location_label {font-size: 0.875rem; padding-top: 93px;}
.weather_header h1 {font-size:1.375rem ; font-weight: 500; padding-top: 14px;}
.temperature {font-size: 2.5rem;font-weight: 500; padding-top: 20px; }
.feels_like {font-size: 1.125rem; padding-top: 20px; }
.best {display: flex ; flex-flow: row nowrap; justify-content: center; align-items: center; padding-top: 14px; gap: 21px; font-size:0.875rem ;}
.snow {padding-top:454px ; padding-bottom: 24px; font-size:0.875rem ;}

.weather_bg {width: 440px; height: 131px; background-color: #46617C;}
.weather_array {display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; gap: 37px; padding-top: 24px;}
.time {padding-bottom: 6px ; font-size: 0.875rem; color: #ffffff;}
.icon_temperature {padding-top: 15px ; font-size: 0.875rem; color: #ffffff;}